@import 'styles/colors';
@import 'styles/variables';
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

body, html {
  height: 100%;
}

body{
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  background-color: $tertiary-color;
  color: $primary-text-color;
}

.highlight{
    color: $primary-accent-color;
}

.alert-warning{
  @include alert-warning;
}

.alert-success{
  @include alert-success;
}

.alert-danger{
  @include alert-danger;
}

.alert-info{
  @include alert-info;
}

.alert-primary{
  @include alert-primary;
}

.ace_scrollbar {
  display: none !important;
}