$primary-color: #1e252b;
$secondary-color: #151a1d;
$tertiary-color: #151a1d;

$primary-accent-color: #6dae44;
$secondary-accent-color: #92588b;
$tertiary-accent-color: #e06ed3;

$primary-text-color: #f2f2f2;

$get-color: #61b539;
$post-color: #367eea;
$put-color: #491c79;
$delete-color: #990833;

$alert-warning-background-color: #322200;
$alert-warning-text-color: #fcbd4b;
$alert-warning-border-color: #966402;